version: '3'

services:
  app:
    image: venivediveci666/chatgpt-web:latest
    container_name: chatgptweb-kerwin
    restart: unless-stopped
    ports:
      - 80:3002
    depends_on:
      - database
    volumes:
      - ./uploads:/app/uploads
    environment:
      TZ: Asia/Shanghai
      # 你的openai access token（请替换为你自己的）
      OPENAI_API_KEY: your_openai_api_key_here
      OPENAI_ACCESS_TOKEN:
      # OpenAI绕过Cloudflare验证的反向代理
      API_REVERSE_PROXY:
      # 每小时最大请求次数，可选，默认无限
      MAX_REQUEST_PER_HOUR: 0
      # 超时，单位毫秒，可选
      TIMEOUT_MS: 1800000
      # 访问jwt加密参数，可选 不为空则允许登录 同时需要设置 MONGODB_URL
      AUTH_SECRET_KEY: your_auth_secret_key_here
      # 网站名
      SITE_TITLE: VeniChat
      # mongodb 的连接字符串（注意替换用户名和密码）
      MONGODB_URL: 'mongodb://your_mongo_user:your_mongo_password@database:27017/chatgpt'
      # 网站是否开启注册
      REGISTER_ENABLED: 'true'
      # 开启注册之后 密码加密的盐（请自行修改）
      PASSWORD_MD5_SALT: your_md5_salt_here
      # 开启注册之后 超级管理员的邮箱
      ROOT_USER: admin@example.com
      # 开启注册之后网站域名 不含 / 。注册的时候发送验证邮箱使用
      SITE_DOMAIN: https://your-domain.example.com
      # 开启注册之后 发送验证邮箱配置
      SMTP_HOST: smtp.example.com
      SMTP_PORT: 465
      SMTP_TSL: 'true'
      SMTP_USERNAME: no-reply@example.com
      SMTP_PASSWORD: your_smtp_password_here
    links:
      - database

  database:
    image: mongo:7.0
    container_name: chatgptweb-database
    restart: unless-stopped
    ports:
      - '27017:27017'
    expose:
      - '27017'
    volumes:
      - ./mongodb:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: your_mongo_user
      MONGO_INITDB_ROOT_PASSWORD: your_mongo_password
      MONGO_INITDB_DATABASE: chatgpt

  gui:
    image: mongo-express
    restart: unless-stopped
    ports:
      - "1005:8081"
    environment:
      # 选择主题。详见： http://codemirror.net/demo/theme.html
      ME_CONFIG_OPTIONS_EDITORTHEME: ambiance
      # 数据库信息
      ME_CONFIG_BASICAUTH_USERNAME: your_gui_username
      ME_CONFIG_BASICAUTH_PASSWORD: your_gui_password
      ME_CONFIG_MONGODB_URL: 'mongodb://your_mongo_user:your_mongo_password@database:27017'

volumes:
  mongodb: {}
